@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    }
  .navbar li{
    display: inline-block;
    text-transform: uppercase;
    padding:0px 20px;
    font-family: 'Roboto', sans-serif; 
  }
  .navbar li a{
    color: white;
  }
  .navbar li a:hover{
    color:rgb(245,99,75) ;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    position: relative;
  }
 .logodiv{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top:50%;
    left: 2%;
 }
 .orange{
    color: rgb(245,99,75);
 }
 nav{
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    position:fixed;
    z-index: 10;
 }
 .fa-mobile{
   color: rgb(245,99,75);
   font-size: 30px !important;
   padding-right: 30px;
   position: absolute;
   right:86%; 
 }
 .numberdiv{
   padding-right: 10px;
   position: absolute;
   right: 2%;
   top:90%;
 }
 .navdiv{
   position: absolute;
   left:30%;
   top: 90%;
 }
 .backimg{
    background-image: linear-gradient(rgba(35,35,35,0.7),rgba(35,35,35,0.7)),url(new.jpg);
    height: 52vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
 }
 .newdiv{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
 }
.newdiv h1{
    padding-top: 20px;
}



.dash{
    width: 100px;
    font-size: 100px;
  }
  .orange{
    color: rgb(245,99,75);
 }


 .maindiv h1{
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .maindiv{
    text-align: center;
    height: 100vh;
    width: 100%;
 }
 .box-1{
    height: 500px;
    width: 350px;
    border: 1px solid lightgray;
    position: relative;
    text-align: left;
    margin-right: 30px;
}
.icon2{
    position: absolute;
    top: 35%;
    left: 13%;
}

.fa-check{
    color: rgb(245,99,75);
    padding: 11px 0px;
}
.fa-times{
    color: lightgray;
    padding: 11px 0px;
}
.textdiv{
   
    position: absolute;
    top:35.5%;
    left: 21%;
}
.text{
    padding-left: 40px;
}
.textdiv h5{
    padding:10px 0px;
    font-size: 15px;
}
.grey{
    color: lightgray;
}
.text p{
    text-transform: uppercase;
    margin-top: 70px;
}
.big{
    font-size: 70px;
    padding-right: 20px;
    margin-top: 10px;
}
.doll{
    position: absolute;
    top: 21%;
    left: 8%;
}
.box-1 button{
    padding:20px;
    border: 1px solid rgb(245,99,75);
    position: absolute;
    bottom: 10%;
    left: 13%;
    background-color: transparent;
}
.box-1 button:hover{
    background-color: rgb(245,99,75);
    color: white;
}
.text h4{
    position: absolute;
    top:5%;
    font-size: 25px;
    left: 8%;
}
.flexx{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}





 .box-2{
    height: 500px;
    width: 350px;
    border: 1px solid lightgray;
    position: relative;
    text-align: left;
    margin-right: 30px;
}
.icon2{
    position: absolute;
    top: 35%;
    left: 13%;
}

.fa-check{
    color: rgb(245,99,75);
    padding: 11px 0px;
}
.fa-times{
    color: lightgray;
    padding: 11px 0px;
}
.textdiv{
   
    position: absolute;
    top:35.5%;
    left: 21%;
}
.text2{
    padding-left: 40px;
}
.textdiv h5{
    padding:10px 0px;
    font-size: 15px;
}
.grey{
    color: lightgray;
}
.text2 p{
    text-transform: uppercase;
    margin-top: 70px;
}
.big{
    font-size: 70px;
    padding-right: 20px;
    margin-top: 10px;
}
.doll{
    position: absolute;
    top: 17%;
    left: 8%;
}
.box-2 button{
    padding:20px;
    position: absolute;
    bottom: 10%;
    left: 13%;
    background-image: linear-gradient(rgb(245,103,70),rgb(252,140,31));
    color: white;
    border: none;
}
.box-2 button:hover{
    margin-bottom: 10px;
}

.text2 h4{
    position: absolute;
    top:5%;
    font-size: 25px;
    left: 24%;
}
.box{
    padding: 5px;
    color: white;
    background-color: rgb(52,58,64);
    width: fit-content;
    position: absolute;
    top: 5%;
    left: 5%;
}



.pro{
    text-align: center;
    height: 120vh;
    width: 100%;
    margin-top: 100px;
    background-color: rgb(240,242,244);
    /* margin-bottom: 100px; */
}
.pro h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.752),rgba(0, 0, 0, 0.763)),url(img-7.jpg);
    color: white;
}
.image button{
    color: white;
}


.box2{
    padding: 5px;
    color: white;
    background-color: rgb(245,99,75);
    width: fit-content;
    position: absolute;
    top: 5%;
    left: 5%;
}



footer{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
  }
  .sec4{
    height: 70vh;
    width: 100%;
    /* margin-top: 150px; */
    background-color: rgb(24,26,35);
    color: white;
    font-family: 'Roboto', sans-serif; 
  }
  .sec4 p{
    color:rgb(186,186,189) ;
  }
  .sec4 h1{
    padding-bottom: 30px;
  }
  .footer1{
    padding-top: 90px;
    margin:30px;
  }
  .footer2{
    padding-top: 90px;
    margin: 30px;
  }
  .footer2 h5:hover{
    color: rgb(245,99,75);
  }
  .footer3 a{
     color: rgb(186,186,188);
     text-transform: capitalize;
  }
  .footer3{
    padding-top: 90px;
    margin: 30px;
  }
  .footer3 li{
    /* padding:5px; */
    font-size: 17px;
  }
  .footer3 a:hover{
     color: rgb(245,99,75);
  }
  .footer4{
    padding-top: 90px;
    margin: 30px;
  }
  .last p{
    padding:20px;
  }
  .smain{
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(17,17,17);
  }
  .icon{
    padding-top:10px;
  }
  
  .fa-facebook{
    padding:10px;
    color: rgb(74,76,84);
  }
  .fa-twitter{
    padding:10px;
    color: rgb(74,76,84);
  }
  .fa-reddit-alien{
    padding:10px;
    padding-right: 10px;
    color: rgb(74,76,84);
  }
  .fa-facebook:hover{
    color:rgb(245,99,75);
  }
  .fa-twitter:hover{
    color:rgb(245,99,75);
  }
  .fa-reddit-alien:hover{
   color:rgb(245,99,75);
  }

  .new{
    width: 170px;
    background-image: linear-gradient(to right, rgb(246,104,68),rgb(251,134,37));
    margin-top: 20px;
    color: white;
    border: none;
    padding: 20px;
    /* height: 40px; */
    transition-duration: 2s;
 }
 .new:hover{
  transform: translatey(-10px);
  background-image: linear-gradient(to left,rgb(246,107,65), rgb(252,139,33));
 }
  


 


 @media screen and (min-width:320px) and (max-width:480px) {
  nav{
   height: 40px;
   width: 100%;
   position: relative;
   position: fixed;
  }
  .logodiv{
   font-size: 8px;
   position: absolute;
   top: 25%;
  }
  .navbar li{
   font-size: 7px;
   padding:  0px 1px;
  
  }
  .navdiv{
   position: absolute;
   top: 20%;
   left: 13%;
  }

  .numberdiv{
   font-size: 5px ;
   position: absolute;
   top: 35%;
   right: 0%;
  }
  .fa-mobile{
   font-size: 10px !important;
   position: absolute;
   left: -10%;
   top:-15%;
  }


  .backimg{
   height: 30vh;
   width: 100%;
  }
  .newdiv h1{
   font-size: 22px;
  }
  .newdiv h3{
   font-size: 15px;
  }

  
  .sec4{
    height: 90vh;
   }
   footer{
    display: block;
   }
   footer{
    font-size: 10px;
   }
   .footer1{
    margin: 5px;
    padding-top: 10px;
   }
   .footer2{
    margin: 5px;
    padding-top: 10px;
   }
   .footer3{
    margin: 5px;
    padding-top: 10px;
   }
   .footer4{
    margin: 5px;
    padding-top: 10px;
   }
    .smain{
      display:block;
    }
    .icon{
      padding: 0px;
    }






    
    .flexx{
      display: block;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }
    .maindiv{
      height: 200vh;
      position: relative;
    }
    .pro{
      height: 220vh;
      position: relative;
    }
    .box-1{
        margin: 20px 0px;
        width: 300px;
       

    }
    .box-2{
        margin: 20px 0px;
        width: 300px;
       
    }
     .media{
      position: absolute;
      top: -5%;
      left: 5%;
     }

    .box{
      font-size: 12px;
    }
    .box2{
      font-size: 12px;
    }





  }